input,select,textarea{
    display: block;
    margin:4px auto;
    
}
body{
    text-align: center;
    background: linear-gradient(45deg,yellow,black,red);
}
.inline{
    display: inline;
}
h1,h2 {
    color:white;
}